<footer>
  <div class="footer-wrapper flex flex-row justify-between">
    <div>
      <p>&copy; Свободная среда, 2022<p>
    </div>
    <div>
      <p>+7 (910) 355-39-94</p>
    </div>
  </div>
</footer>
