html, body {
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

html {
  font-family: "Helvetica", "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;

  &:focus {
    outline: none;
  }
}
