<%= render 'sreda/shared/header' %>
<div id="contacts-page" class="container flex-1">
  <section id="contacts-section" class="section">
    <h2>Контакты</h2>
    <div id="contacts-list">
      <menu class="contacts-menu">
        <li class="address">Липецк, ул. Балмочных, 32</li>
        <li class="phones">+7 (910) 355-39-94</li>
        <li class="calendar">Понедельник - пятница, 8:30 - 17:30</li>
        <li class="vk">
          <a href="https://vk.com/sreda_lipetsk">Группа Свободная Среда</a>
        </li>
      </menu>
    </div>
    <div id="contacts-map">
      <script
        async
        type="text/javascript"
        charset="utf-8"
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8a18eb75270356abd43344c05ba11dbb986669ed0d13e2d0fc7ffe93f03ab5b3&amp;width=1000&amp;height=553&amp;lang=ru_RU&amp;scroll=true">
      </script>
    </div>
  </section>
</div>
<%= render 'sreda/shared/footer' %>
