<div class="flex flex-col flex-1 w-full max-w-8xl mx-auto px-8 xl:px-0">
  <section class="my-8">
    <h1>Что такое семейный клуб Свободная среда?</h1>
    <p>Мы - сообщество сторонников альтернативного образования, объединяющее талантливых преподавателей, детей и родителей, выбирающих семейное обучение. Мы - семьи, объединенные общими ценностями, создающие специальную среду для образования, воспитания и развития своих детей и себя. Люди, готовые действовать, меняться, расти и создавать себя и своего мир.</p>
    <br />
    <p>Мы НЕ школа, НЕ садик и даже НЕ детский центр. МЫ НЕ оказываем услуг и у нас НЕТ клиентов.</p>
    <br />
    <p>Мы - Семейный Клуб - сообщество активных родителей, которым не все равно как дети проживут школьные годы, и которые хотят наслаждаться этим временем вместе со своими детьми.</p>
    <br />
    <p>Все наши дети официально на семейном обучении, а методы обучения и педагогов мы выбираем совместно со всеми членами нашего Клуба.</p>
  </section>
  <div class="flex justify-center mb-8">
    <%= image_tag 'sreda/background.jpg', class: 'rounded shadow-lg', alt: 'lesson', width: 1440, height: 576 %>
  </div>
  <section>
    <h2>Что же нас объединяет?</h2>
    <p class="mb-4">Клуб объединяет семьи, которые:</p>
    <ul id="for-families">
      <li>осознанно подходят к своей жизни, к жизни своих детей,</li>
      <li>берут ответственность за воспитание и образование своих детей на себя и если появляются препятствия, ищут решение и выход, без обвинения и поиска виновных,</li>
      <li>которых не устраивает традиционная система образования, которые хотят большего для своих детей, готовы сопровождать и поддерживать их на пути развития. которым важно, как они вместе с детьми проживут школьные годы, чем будет наполнено это время, у которых цель, не просто сдать экзамен и куда-то поступить, причем без особого понимания зачем это все нужно, а вырастить полноценного человека своего места и времени, который слышит себя и знает чего он хочет и который вступит во взрослую жизнь спокойно, уверенно и осознанно,</li>
      <li>открыты к диалогу и работе над собой, у которых есть согласие в семье,</li>
      <li>стремятся вести здоровый образ жизни.</li>
    </ul>
  </section>
</div>
<footer class="py-8 px-12 border-t border-gray-200">
  <div class="flex flex-col-reverse md:flex-row justify-between">
    <p>&copy; Свободная среда, 2023<p>
    <div>
      <ul id="contacts">
        <li class="phones">+7 (910) 355-39-94</li>
        <li class="calendar">Понедельник - пятница, 8:30 - 17:30</li>
        <li class="vk">
          <a href="https://vk.com/montessori_sreda_lipetsk" class="underline text-blue-500">Группа ВК Свободная Среда</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

