#index-page {
  padding-top: 2rem;

  section {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto 2rem;
    padding: .5rem 1rem;

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  #about-section {
    p {
      font-size: 1.25rem;
    }
  }

  #club-section {
    menu {
      padding: 0;
      font-size: 1.25rem;

      li {
        margin-top: .5rem;
      }
    }
  }

  #images {
    max-width: 100%;

    img {
      max-width: 100%;
      object-fit: cover;
    }

    .flex-6 {
      width: 60%;
      padding: .5rem;

      img:nth-of-type(1) {
        padding-bottom: 1rem;
      }
    }

    .flex-4 {
      width: 40%;
      padding: .5rem;
    }
  }
}
