<%= render 'sreda/shared/header' %>
<div id="contacts-page" class="container flex flex-1">
  <section class="section flex items-center justify-center flex-1">
    <h2>Страница не найдена</h2>
  </section>
</div>
<%= render 'sreda/shared/footer' %>
