<footer id="contacts" class="py-8 px-12 border-t border-gray-200">
  <div class="flex flex-col lg:flex-row justify-between">
    <p class="mb-4 lg:mb-0">&copy; Монтессори среда, в Липецке c 2021<p>
    <div>
      <ul id="contacts">
        <li class="phones">+7 (904) 689-20-63, Юлия Тобольская, организатор и Монтессори-педагог 6-12</li>
        <li class="phones">+7 (960) 153-90-35, Мария Агатьева, Монтессори-педагог 3-6</li>
        <li class="calendar">Понедельник - пятница, 8:30 - 17:30</li>
        <li class="vk">
          <a
            href="https://vk.com/montessorisreda_lipetsk"
            target="_blank"
            rel="noopener noreferrer"
            class="underline text-blue-500"
          >Группа ВК Монтессори Среда</a>
        </li>
        <li class="instagram">
          <a
            href="https://www.instagram.com/montessori885?igsh=NnNhbDZ6cDBoMHFw"
            target="_blank"
            rel="noopener noreferrer"
            class="underline text-blue-500"
          >Инстаграм Монтессори Среда</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
