<nav class="py-4 border-b border-gray">
  <div class="mx-auto w-full max-w-6xl flex justify-center items-center px-4 lg:px-0">
    <a href="/#about" class="font-medium mr-12">О нас</a>
    <a href="/#junior" class="font-medium mr-12">Группа 3-6</a>
    <a href="/#middle" class="font-medium mr-12">Группа 6-12</a>
    <a href="/#contacts" class="font-medium">Контакты</a>
  </div>
</nav>
