@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

html, body {
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

html {
  font-family: "Raleway", "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;

  &:focus {
    outline: none;
  }
}
